@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@600;700&family=Inter:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'DM+Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: sans-serif;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
header{
    position: fixed;
}

.header-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.3rem;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(20px);

}
.nav-img-container{
    width: 50%;
}

.nav-logo{
    width: 80%;
}
.navbar{
    width: 100%;
    position: absolute;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    color: #2C3333;
    padding: 0.3rem 0.5rem;
    border: none;
    
    
}
.nav-ul{
    list-style: none;
}
.nav-ul li{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.3rem;
    margin: 1rem 0;
    border-bottom: 1px solid #2C3333;
}
.side-nav {
    width: 50%;
    display: flex;
    justify-content: end;
}
.navBtn-open span,
.navBtn-close span
{
    padding-right: 0.5rem;
    font-size: 2rem;
}

.close{
    display: none;
}
.open{
    display: block;
}




.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}


@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*Navbar Media*/
@media screen and (min-width:768px) {
    .nav-logo{
        width: 40%;
    }
    .nav-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-ul li{
        font-size: 2.2rem;
    }
}



/*Section*/
.developer-section,
.developer-details,
.developer-img{
    width: 100%;
}

.avatar-img{
    width: 70%;
}

.developer-section,
.services,
.projects-section,
.contact-form-section,
footer{
    padding: 1rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.developer-details{
    margin: 3rem 0 1rem 0;
}
.developer-details h1{
    font-size: 2rem;
    margin: 3rem 0.5rem 0.5rem 0.5rem;
    color: #2C3333;
}

.developer-details h2,
.about-developer h2,
.services h2,
.projects-section h2,
.contact-form-section h2,
footer h1{
    font-size: 2rem;
    color: #27374D;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 8px #9DB2BF;
}
.developer-details h3,
.projects-section h3,
footer h3{
    margin: 0.3rem 0 1rem 0; 
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: #2E4F4F;
    text-shadow: 0px 0px 2px #2C3333;
}
.developer-details p,
.about-developer p,
.service-card p,
footer p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;

}
.developer-details .btn,
.about-developer .btn {
    font-size: 1.2rem;
    font-family: inherit;
    padding: 0.3rem 1rem;
    margin: 1rem;
    background-color: #27374D;
    color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #27374D;
    opacity: 1;
    outline: none;
} 
.developer-details .btn:hover,
.about-developer .btn:hover
{
    opacity: 0.7;
}
.underline{
    background-color: #2C3333;
    height: 5px;
    width: 20%;
    margin: 2rem auto;
    border-radius: 16px;
}




/*Card*/
.services-card-container{
    display: flex;
    flex-direction: column;
    color: #fff;
    
    margin: 1rem 0;
}
#card-heading{
    color: #f5f5f5;
    margin: 1rem 0.3rem;
}
.service-card{
    background-color: #27374D;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 16px;
}

/*Projects*/

.project-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.project{
    padding: 1rem;
    background-color: #D2E9E9;
    border-radius: 16px;
    margin: 2rem auto;
    width: 80%;

}
.project-img{
    border-radius: 15px;
    width: 60%;
}
.projects-section h3{
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #000;
}

/*Form*/
.contact-form-section{
    margin: 1rem 0.5rem;
    border-radius: 16px;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.contact-form-section h2{
    font-size: 1.2rem;
}
.input-tab{
    background-color: #A8A196;
    color: #000;
    border-radius: 5px;
    border: 2px solid #A8A196;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
}
.form-btn{
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid #A8A196;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: transparent;
    color: #2E4F4F;
    cursor: pointer;
}

footer h1 {
    font-size: 1.2rem;
}
footer h3{
    font-size: 1.1rem;
}


/*Tablet Media*/
@media screen and (min-width:768px) {
    .developer-details h2,
    .about-developer h2,
    .services h2,
    .projects-section h2,
    .contact-form-section h2,
    footer h1
    {
        font-size: 2.2rem;
    }


    .developer-details h3,
    .projects-section h3,
    footer h3 {
        font-size: 1.8rem;

    }
    
        .developer-details p,
        .about-developer p,
        .service-card p,
        footer p {
            font-size: 1.4rem;
            line-height: 1.6;
            letter-spacing: 2px;
    
        }
        .avatar-img{
            width: 35%;
        }
        .developer-section,
        .projects-section,
        .contact-form-section,
        footer{
            margin: auto auto;
            max-width: 80%;
        }
        .projects-section{
            width: 100%;
        }
        .project-container{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .project{
            width: 40%;
        }
        .project-img{
            width: 80%;
        }
        .services{
            display: flex;
            width: 100%;
        }
        .service-card{
            width: 45%;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .services-card-container{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .card-img{
            width: 80%;
        }
}


/*Laptop Media*/

@media screen and (min-width:1024px) {
    .side-nav{
        display: none;
    }
    header{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(20px);
        justify-content: space-around;
        align-items: center;
    }
    .nav-logo{
        width: 100%;
    }

    .header-main-container{
        display: block;
        backdrop-filter: unset;
        max-width: 800px;
    }
    .navbar{
        position: unset;
        display: flex;
        backdrop-filter: unset;
        width: unset;
        background: unset;
    }
    .nav-ul{
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }
    .nav-ul li{
        margin: 0rem 1rem;
        font-size: 1.542rem;
        border: none;
    }



    
}